<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block page_title %}{% endblock %}</title>

  {% loadbootstrap3 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <!-- first load django static tag -->
  {% load staticfiles %}

  <script src='{% static %}'></script>


</head>

<body>
  <div class='container'>
    <div class='card'>
      <div class='front'>The Question</div>
      <div class='back'>The Answer</div>
    </div>
    {% block content %}
    {% endblock %}
  </div>

</body>

</html>